{% extends "base.html" %}
{% load static %}

{% block title %} {{ object }} | {{ block.super }} {% endblock title %}
{% block content %}
    <div class="user-profile" id="userprofile{{object.user_id}}">

    <p>Full name: <strong data-bind="text: fullName"></strong></p>
        <form data-bind="submit: addPost">
            Add post: <input data-bind="value: nextPostContent" placeholder="What are you thinking?" />
            <button type="submit">Post</button>
        </form>

        <hr>
        <div data-bind="foreach: posts">
            Posted by: <strong data-bind="text: $data.posted_by"></strong>
            Date: <strong data-bind="text: $data.created"></strong>
            <p data-bind="html: $data.content"></p>
            <button data-bind="click: $parent.removePost">Delete</button>
            <hr>
            <br>
        </div>


        {% include "follow_button.html" %}

    {% if object.birthdate %}
        <p> Birthdate: {{ object.birthdate }} <br>
    {% endif %}
    {% load ratings %}
    {% ratings object %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        {% if object.user_id == user.id %}
        {% include "create_post_form.html" %}
        {% endif %}
        <br>
    <h2> Posts: </h2>
    {% include "display_posts.html" %}
    </div>
    <script language="javascript" type="text/javascript" src="{% static 'profiles/js/profileKO.js' %}"></script>
{% endblock content%}
