p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 a {
    color: #ff69b4;
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
}

h1 { 
    color: #ff69b4;
    font-family: 'Trocchi', serif; 
    font-size: 35px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 10 10; 
}

h2 { 
    color: #2b3856; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
}

p { 
    color: #2b3856; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 10 10 24px; 
}

a { 
    color: #ff69b4;
    text-decoration: none; 
}

.page-header {
    color: #ff69b4;
    background-color: #FFffFF;
    text-align: center;
    padding: 10px 20px 20px 10px;
    text-decoration: none;
}

.side-navigation {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bcc6cc; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-navigation a{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2b3856; 
    display: block;
    transition: 0.3s;
}

.side-navigation a:hover, .offcanvas a:focus{
    color: #ff69b4;
}

.side-navigation .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

#content {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .side-navigation {padding-top: 15px;}
    .side-navigation a {font-size: 18px;}
}

.navbutton {
    position: absolute;
    left: 0%;
    top: 0;
    font-family: Verdana; 
    background-color: #4c4a37; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}


#main {
	margin-left: 200px;
}

#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
}

.folders { background-color: #bbb; list-style-type: none; padding: 0; margin: 0; border-radius: 7px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(0.4, #c0c0c0), color-stop(1,#a4a4a4));
	margin: 10px 0 16px 0;
	font-size: 0px;
}
.folders li:hover { background-color: #ddd; }
.folders li:first-child { border-left: none; border-radius: 7px 0 0 7px; }
.folders li { font-size: 16px; font-weight: bold; display: inline-block; padding: 0.5em 1.5em; cursor: pointer; color: #444; text-shadow: #f7f7f7 0 1px 1px; border-left: 1px solid #ddd; border-right: 1px solid #888; }
.folders li { *display: inline !important; } /* IE7 only */
.folders .selected { background-color: #444 !important; color: white; text-shadow:none; border-right-color: #aaa; border-left: none; box-shadow:inset 1px 2px 6px #070707; }

.mails { width: 100%; table-layout:fixed; border-spacing: 0; }
.mails thead { background-color: #bbb; font-weight: bold; color: #444; text-shadow: #f7f7f7 0 1px 1px; }
.mails tbody tr:hover { cursor: pointer; background-color: #68c !important; color: White; }
.mails th, .mails td { text-align:left; padding: 0.4em 0.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mails th { border-left: 1px solid #ddd; border-right: 1px solid #888; padding: 0.4em 0 0.3em 0.7em; }
.mails th:nth-child(1), .mails td:nth-child(1) { width: 10%; }
.mails th:nth-child(2), .mails td:nth-child(2) { width: 10%; }
.mails th:nth-child(3), .mails td:nth-child(3) { width: 40%; }
.mails th:nth-child(4), .mails td:nth-child(4) { width: 20%; }
.mails th:nth-child(4), .mails td:nth-child(5) { width: 20%; }
.mails th:last-child { border-right: none }
.mails tr:nth-child(even) { background-color: #EEE; }

.viewMail .mailInfo { background-color: #dae0e8; padding: 1em 1em 0.5em 1.25em; border-radius: 1em; }
.viewMail .mailInfo h1 { margin-top: 0.2em; font-size: 130%; }
.viewMail .mailInfo label { color: #777; font-weight: bold; min-width: 2.75em; text-align:right; display: inline-block; }
.viewMail .message { padding: 0 1.25em; }