<script type="text/html" id="post-template">
  <strong>
    <span data-bind="text: is_shared ? 'Shared by' : 'Posted by'"></span>
    <a data-bind="attr: { href: $data.posted_by.url}, text: $data.posted_by.full_name"></a>
  </strong>
  <span data-bind="if: $data.is_shared">
    <br>
    <strong>
      <a data-bind="attr: {href: $data.share.original_post}, text: 'Original post'"></a>
    </strong>
  </span>
  <br>
  <hr>
  <strong>
    <a data-bind="attr: { href: url}, text: $data.created"></a>
  </strong>
  <button data-bind="click: $parent.removePost, visible: {{ request.user.id }} == posted_by.id, text: 'Delete'"></button>
  <p data-bind="html: content"></p>
  <small id="like-count" data-bind="text: likes() + ' people like this'"></small>
  <br>
  <button data-bind="click: likeUnlike, text: liked() ? 'Unlike' : 'Like'">Like</button>
  <button data-bind="click: $parent.sharePost">Share</button>
  <hr>
  <br>
</script>
