{% extends "base.html" %}
{% load static %}

{% block content %}

<h1> Trending </h1>

<table class="mails">
    <thead>
        <tr>
            <th>Tag</th><th>Occurrences Count</th>
        </tr>
        <tbody data-bind="foreach: tags">
            <tr data-bind="click: goToTag">
                <td data-bind="text: tag"></td>
                <td data-bind="text: occurrences_count"></td>
            </tr>
        </tbody>
    </thead>
</table>

<script language="javascript" type="text/javascript" src="{% static 'posts/js/trendingKO.js' %}"></script>

{% endblock content %}
