{% extends "base.html" %}
{% load static %}


{% block content %}

<h1> You are at the feed page! </h1>
<p> You are now logged in as {{ user_name }} </p>

{% include "create_post_form.html" %}

<h2> Posts by people you are following: </h2>
{% include "display_posts.html" %}

    <script language="javascript" type="text/javascript" src="{% static 'profiles/js/profileKO.js' %}"></script>
    <script language="javascript" type="text/javascript">
      ko.applyBindings(new Feed("/api/posts/feed/"));
    </script>
{% endblock content %}
